body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* ENCABEZADO */
.encabezado {
  background-color: #062e93; /* rojo UTPL más oscuro */
  color: white;
  text-align: center;
  padding: 20px;
}

.encabezado h1 {
  margin: 0;
  font-size: 28px;
}

.encabezado p {
  margin: 5px 0 0;
  font-size: 16px;
}

/* CONTENEDOR PRINCIPAL */
.contenido {
  padding: 20px;
}

/* FILTROS */
select, input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* TABLA */
table {
  margin-top: 20px;
}

/* FOOTER */
.pie {
  background-color: #0c3292;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}